.nav__alignment {
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(134, 134, 134);
    box-shadow: 2px 2px 2px rgb(200, 200, 200);
    background: rgba(38, 38, 38, 1);

    position: sticky;
    top: 0;
    z-index: 50;
}

.logoPage {
    color: #d8d8d8;
    letter-spacing: 0.5px;
    cursor: default;
}

.profileImg {
    width: 35px;
    height: auto;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

.profileImg:hover {
    background-color: rgb(245, 245, 245);
}

.nav__alignment > a,
.nav__alignment > button {
    color: #d8d8d8;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.nav__alignment > a > img {
    padding: 0;
}

.nav__alignment > a:hover,
.nav__alignment > button:hover,
.nav__alignment > button:focus {
    background-color: #333232;
    border: 0px solid white;
}

.mainContainer button {
    width: fit-content;
    //    margin: 15px auto 0px auto;
    padding: 10px;
    font-size: 16px;
}
