.centerContainer {
    min-height: 81.6vh;
}

.mainContainer__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.center__container img {
    box-sizing: content-box;
    filter: blur(2px);
    position: absolute;
    width: 270px;
    max-height: 200px;
}

.center__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 270px;
    overflow: hidden;
    box-sizing: content-box;
    padding: 20px;
    margin: 20px;
    height: 178px;
    position: relative;
    // Cuidado con este height, si da problemas quitarlo!
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 40px 80px rgba(0, 0, 0, 0.12);
    filter: grayscale(100%);
}
.center__container:hover {
    background-color: #ebe9e9;
    filter: none;
    transition: all 0.3s ease-in-out;
}
.center__container img:hover {
    filter: none;
}

.center__container > p {
    color: lightslategray;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(173, 216, 230, 0.609);
    padding: 4px;
    border-radius: 5px;
}

.mainContainer > .containerProfile > a {
    border-radius: 5px;
    padding: 5px 10px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
    color: black;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    border: 1px solid black;
}

.mapContainer {
    width: 500px;
    height: 500px;
}
