.bannerContainer {
    margin: 5px;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 231, 231, 0.472);
}
span {
    font-weight: bold;
}
.listDates {
    list-style-type: none;
    margin-top: 0;
}

.bannerImage {
    width: 200px;
    height: auto;
    padding: 15px;
}

.mainContainer {
    margin: 0px 15px 30px 15px;
    min-height: 77vh;
}

h2 {
    text-align: center;
    border-top: 1px solid rgb(110, 110, 110);
    padding: 30px;
    margin: 0;
}

.descriptionCenter {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 4% 20px 4%;
}
.contactInfo {
    padding-left: 50px;
}

button {
    cursor: pointer;
}
.activity {
    border: 1px solid black;
    margin: 50px;
    padding: 50px;
    width: 350px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 40px 80px rgba(0, 0, 0, 0.12);
}
.activity:hover {
    background-color: rgb(235, 233, 233);
}

.descriptionCenter > p {
    text-align: justify;
    margin-bottom: 50px;
    color: rgb(46, 46, 46);
}

.descriptionCenter__other > p {
    margin-bottom: 50px;
}
.button__yellow {
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.712);
    color: black;
    cursor: pointer;
    width: fit-content;
    align-self: center;
    font-size: 16px;
}
.button__yellow:hover {
    background-color: rgba(255, 217, 50, 0.712);
    color: black;
}
.activity > a {
    margin: auto;
}
.detailsUsers {
    text-align: center;
}

.createActivity {
    padding: 10px;
}

.activityImage {
    width: 350px;
    padding: auto;
    transition: all 0.3s ease-in-out;
}
.tabActivity__name {
    margin-left: 55px;
    color: rgb(29, 29, 100);
    font-weight: bold;
    font-style: italic;
}

.containerActivity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow > div > img {
    display: none;
}
.inline > img {
    display: none;
}

.flexRow {
    margin-left: 50px;
}

.inline {
    display: flex;
    flex-direction: row;
}
h3 {
    text-align: center;
    border-top: 1px solid #6e6e6e;
    padding: 30px;
    margin: 0;
}
.activity > h3 {
    border-top: none;
}

@media (min-width: 960px) {
    .inline > img {
        display: block;
        width: 40px;
        height: 40px;
    }
    .flexRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .activity {
        width: 500px;
    }
    .activityImage {
        width: 450px;
        margin: 10px auto;
    }
    .flexRow > div > img {
        display: block;
        width: 450px;
    }
    .descriptionCenter {
        align-items: flex-start;
    }
    .flex_col_to_row__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .descriptionCenter__other {
        flex-direction: row;
        align-items: flex-start;
    }
    h3 {
        border-top: none;
    }
    .descriptionCenter__other > p {
        margin: auto;
    }
}

@media (min-width: 1260px) {
    .containerActivity {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
