form {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: auto;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 35px;
}
label,
input {
    margin: 5px;
}
input:invalid {
    border: 2px solid red;
}
h1 {
    text-align: center;
}
.submit {
    width: min-content;
    margin: auto;
}
